<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Página Inicial</title>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
        <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link href="../static/css/site.css" rel="stylesheet" th:href="@{/css/site.css}">
    </head>
    <body>

        <header>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/}">Tabela Campeonato</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/classificacao}">Classificação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/simular}">Simular Rodada</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/limparDados}">Limpar Dados</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

        <section>

            <div class="painel-tela-inicial">
                <h1 class="display-4" style="text-align: center">Simulador Tabela do Campeonato Brasileiro de Futebol</h1>
                <hr class="my-4">
                <p class="lead" style="text-align: center">
                    <a class="btn btn-success btn-lg" th:href="@{/simular}" role="button">Simular Partida</a>
                </p>
            </div>

        </section>
    </body>
</html>